
# favorites are processed by port.start.awk and by default some commands may get special handling

# favorite directories
~/
/mnt/usb

# favorite urls
http://www.example.com/
ssh://root@example.net
vnc://10.0.0.1 # example

# favorite email contacts
friend@example.com

# favorite search terms
simon templar

# favorite commands
alsamixer
alsaplayer
emacs
gtk-screenshot --window
surf
claws-mail
xchat
su

# commands to be started in context's working directory:
rox
xterm

# some (network) informational commands, started via pager:
arp -n
ifconfig
iwlist wlan0 scanning
netstat -n
route -n
wpa_cli scan_results
wpa_cli status
nmap -T4 -sP "$(ifconfig wlan0 | awk -F'[: ]*' '/inet addr:/ {print$4}')/24" # ping scan
nmap -T4 "$(ifconfig wlan0 | awk -F'[: ]*' '/inet addr:/ {print$4}')/24" # port scan

# favorite process listings
ps xo pid,command --forest # user process list
ps axo pid,user,command --forest # full process list
ps waux --forest # wide process list

# use repository detected in context
hg diff
hgtk blame
hgtk commit
hgtk log
hgtk vdiff

# default rules will open these in editor, but you may choose to differ:
~/.favorites
~/.history
~/.bookmarks

# there are other ways, but you can put the command to open a menu right here
req -p menu -f favorites -a filter_uniq=1 -rfile ~/.history | req -p start -stdin
req -p menu -f favorites -a filter_uniq=1 -rfile ~/.bookmarks | req -p start -stdin
# an anlogue for favorites would be silly...

# if one start hotkey is enough for you, consider these:
req -p open "$(xclip -o)" # paste
req -p open -menu "$(xclip -o)" # paste
req -p search "$(xclip -o)" # find
req -p search -menu "$(xclip -o)" # find
