
from=shell
run=system

filter_percent=0
filter_uniq=0
filter_skip_empty=1
filter_trim=1

favorites=~/.favorites
bookmarks=~/.bookmarks
history=~/.history

menu=default
menu_default=dmenu
menu_font=-*-lucida-medium-r-*-*-17-*-*-*-*-*-iso10646-*
menu_fg=#000000
menu_bg=#eeeeee
menu_sel_fg=#ffffff
menu_sel_bg=#006699
menu_border=#ff7f00
menu_crop=1
